:root {
    --orange: #f9be60;
    --dark-orange: #835100;
    --darkest-orange: #362100;
    --grey-background: whitesmoke;

}

main {
    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2%;

        h2 {
            width: 80%;
            padding: 2% 0;
            text-align: center;
            font-size: 3em;
            color: var(--darkest-orange);
            border-bottom: #f9be60 3px solid;
        }

        form {
            margin: 1% 0;
            font-size: 2em;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 80%;
            font-weight: 500;
            color: var(--darkest-orange);

            .option {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                margin: 2% 5%;

                input {
                    margin-left: 5%;
                    width: 10%;
                    position: absolute;
                    opacity: 0;
                }

                label {
                    transition: 0.4s;
                }

                input:focus~label {
                    color: #f9be60;
                }

                hr {
                    width: 0%;
                    border: #f9be60 2px solid;
                    opacity: 0;
                    transition: 0.4s;
                }

                input:focus~hr {
                    width: 100%;
                    border: #f9be60 2px solid;
                    opacity: 100%;
                }
            }
        }

        .display {
            // background-color: rgb(196, 196, 196);
            min-height: 60vh;
            width: 80%;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border: #f9be60 2px solid;

            .product.hidden {
                display: none;
            }

            .product {
                margin: 1%;
                padding: 1%;
                width: 28%;
                height: 80vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: flex-start;
                border-radius: 50px;
                background-color: #efefef;
                border: #362100 3px solid;
                color: #362100;
                .data{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                img {
                    margin-top: 5%;
                    width: 80%;
                }

                h3 {
                    font-size: 2em;
                    margin: 3%;
                }
                .price{
                    font-size: 1.5em;
                    font-weight: 500;
                }
                p {
                    margin: 3%;
                }

                button {
                    transition: 0.2s;
                    margin-top: 12%;
                    padding: 2%;
                    width: 60%;
                    font-size: 1.8em;
                    font-weight: 800;
                    border-radius: 20px;
                    border: rgba(0, 0, 0, 0);
                    color: white;
                    background-color: #f9be60;
                    color: #362100;
                }

                button:hover {
                    transform: scale(1.1);
                    background: none;
                    color: #f9be60;
                }

                button:active {
                    color: #362100;
                }
            }
        }
    }
}

/*Responsive*/
@media (max-width: 768px) {
    main section {

        form {
            flex-direction: column;
            align-items: center;
            .option {
                width: 50%;
            }
        }

        .display {
            width: 100%;
            .product {
                padding: 2%;
                flex-direction: column;
                width: 100%;
                height: 25vh;
                justify-content: center;
                align-items: center;
                .data{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .price{
                    font-size: 0.8em;
                }
                img{
                    width: 20%;
                }
                h3{
                    font-size: 1em;
                }
                p{
                    font-size: 0.8em;
                }
                button{
                    margin-top: 0;
                    font-size: 0.8em;
                }
            }
            height: auto;
        }
    }

}